# Environment variables with secrets
.env
.env.*
.env.prod
.env.development

# Python cache files
__pycache__/
*.pyc

# Database files
instance/

# Celery task queue runtime files
celerybeat-schedule

# Logs
logs/

# IDE specific files
.idea/